# compiled output
/dist
/node_modules
/build

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.*
!.env.example
!.env.sample

# OS / editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# tests / coverage
/coverage
/.nyc_output

# TypeScript
*.tsbuildinfo
